[Unit]
Description=Nest Prometheus exporter
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=600
StartLimitBurst=10

[Service]
DynamicUser=yes
WorkingDirectory=/usr/local/lib/prometheus-exporters
ExecStart=/usr/local/lib/prometheus-exporters/bin/python3 nest-exporter.py --port 9101 -c /etc/prometheus-exporters/config.json
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
